pyodbc    	# ODBC database connector for Python
sqlalchemy  # SQLAlchemy ORM

Django     	# High-level Python web framework
django-dotenv 	# Reads .env file
django-cors-headers # Django CORS middleware

# restful
# python-rest-framework
djangorestframework
rest_pandas # csv file
djangorestframework-simplejwt
django-cors-headers

# data science lib
numpy
pandas
scipy
joblib
scikit-learn
xgboost
lightgbm
catboost

# PI
PIconnect   # Python interface for OSI Software PI
openpyxl    # Python library to read/write Excel 2007/2010/2013 files